<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Qoutation Title</title>
</head>

<body>
    <div id="pageHeader"><img src="<%= header %>" style="width:100%;" alt=""></div>
    <div id="pageContent">
        <div class="row">
            <div class="col-md-6">
                <img src="<%= logo %>" class="img-logo" alt="">
            </div>
            <div class="col-md-6">
                <div class="outer-div">

                </div>
                <h3 class="qoute-number">Qoutation #: 786/WBP/182</h3>
                <h3 class="date">FEB 15, 2022</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="address-text">To: <%= project.clientAddress %></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table>
                    <tr>
                        <th class="headings"><strong>Task</strong> </th>
                        <th class="d-headings"><strong>Description</strong> </th>
                        <th class="headings"><strong>Material Cost</strong> </th>
                        <th class="headings"><strong>Labour Cost</strong> </th>
                    </tr>
                    <% project.tasks.forEach(function(task){ %>
                    <tr>
                        <td class="innerText"><%= task.name %></td>
                        <td class="d-innerText">
                            <% task.descriptions.forEach(function(description){ %>
                            <p>- <%= description.description %></p>
                            <% }); %>
                        </td>
                        <td class="innerText">£ <%= task.materialCost %></td>
                        <td class="innerText">£ <%= sumBy(task.descriptions, "laborCost") %></td>
                    </tr>
                    <% }); %>
                    <tr>
                        <th id="total" colspan="3" class="total-text">Total Amount Quoted <span
                                class="color-red">(including building material)</span></th>
                        <td class="total-num">£ 200</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="footer-text">WhiteBrick Property Maintenance</h4>
                <h4 class="footer-text">THANK YOU FOR CHOOSING US!</h4>
            </div>
        </div>
    </div>
    <div id="pageFooter"><img src="<%= footer %>" style="width:100%;" alt=""></div>
</body>
<style>
    table {
        border: 1px solid black;
        width: 90%;
        margin-left: 5%;
    }

    .img-logo {
        margin-top: 5%;
        margin-left: 5%;
    }


    .address-text {
        margin-left: 5%;
        color: #184e0e;
        font-size: 12px;
    }

    .qoute-number {
        right: 10%;
        position: absolute;
        bottom: 40px;
        color: #184e0e;
        font-size: 12px;
    }

    .date {
        right: 10%;
        position: absolute;
        bottom: 0;
        color: #184e0e;
        font-size: 12px;
    }

    .headings {
        width: 20%;
        border: 1px solid black;
        padding: 15px;
        font-size: 11px;
        color: #184e0e;
    }

    .d-headings {
        width: 40%;
        border: 1px solid black;
        padding: 15px;
        font-size: 10px;
        color: #184e0e;
    }

    .innerText {
        border-left: 1px solid black;
        padding: 10px;
        padding-bottom: 30px;
        font-size: 12px;
        font-weight: 600;
        color: #184e0e;
    }

    .total-text {
        text-align: center;
        border: 1px solid black;
        padding: 10px;
        padding-bottom: 30px;
        font-size: 12px;
        font-weight: 600;
        color: #184e0e;
    }

    .total-num {
        border: 1px solid black;
        padding: 10px;
        padding-bottom: 30px;
        font-size: 12px;
        font-weight: 600;
        color: #184e0e;
    }

    .d-innerText {
        border-left: 1px solid black;
        padding: 10px;
        padding-bottom: 30px;
        font-size: 14px;
        font-weight: 300;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #184e0e;
    }

    .text-center {
        text-align: center;
        position: fixed;
        bottom: 0;
    }

    .color-red {
        color: red;
    }

    .footer-text {
        font-weight: 600;
        color: #184e0e;
        font-size: 12px;
    }
</style>

</html>